@font-face {
    font-family: 'Robit';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/robittrial-light.woff2') format('woff2'),
        url('../fonts/robittrial-light.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Robit';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/robittrial-regular.woff2') format('woff2'),
        url('../fonts/robittrial-regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Robit';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/robittrial-medium.woff2') format('woff2'),
        url('../fonts/robittrial-medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Robit';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/robittrial-bold.woff2') format('woff2'),
        url('../fonts/robittrial-bold.woff') format('woff');
    font-display: swap;
}

@import 'reset';
@import '../../node_modules/animate.css/animate';
@import '../../node_modules/magnific-popup/src/css/main.scss';

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.none {
    display: none !important;
}

svg {
    fill: currentColor;
    stroke: inherit;
}