
@import 'common';
$d: #040404;
$d-l: #232323;
$or: #FF5E19;
$l: #DBDBCE;
$w: #FEFEFE;


body {
    font-family: 'Robit', sans-serif;
    font-weight: 500;
    line-height: 1.4;
    font-size: 24px;
    background-color: $l;
    color: $l;

    @media (max-width: 992px) {
        font-size: 16px;
    }
}

.wrapper {
    max-width: 1518px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: 992px) {
        padding: 0;
    }
}

.container {
    // max-width: 1328px;
    // 
    // margin: 0 auto;
}

svg {
    fill: currentColor;
    stroke: inherit;
}

@import 'lego/header';

.section {
    max-width: 1488px;
    width: 100%;
    padding: 0 80px;

    &--dark {
        background-color: $d;
    }

    @media (max-width: 992px) {
        padding: 0 20px;
    }
}

.logo {
    display: block;

    &__img {
        height: auto;
    }
}

.italic {
    font-style: italic;
}


.button {
    font-size: 17px;
    padding: 18px 24px 15px 24px;
    border-radius: 33px;
    background-color: $or;
    color: $d;
    line-height: 1;

    @media (max-width: 768px)  {
        font-size: 16px;
        text-align: center;
    }

    &--grey {
        background-color: $d-l;
        color: $l;
    }

    //зелена з іконкою
    &--green {
        background-color: #79B72B;
        color: $w;
        position: relative;
        padding-left: 67px;

        &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            width: 11px;
            height: 11px;
            transform: translateY(-50%) rotate(135deg);
            border-left: 2px solid $w;
            border-top: 2px solid $w;
            left: 0;
            top: 50%;
        }

        &:before {
            left: 30px;
        }

        &:after {
            left: 35px;
        }
    }

    &--black {
        color: $w;
        background-color: $d;
    }

    &--black-stroke {
        color: $d;
        background-color: transparent;
        border: 1px solid $d;
    }

    &--light-stroke {
        color: $l;
        background-color: transparent;
        border: 1px solid $l;
    }
}

.title {
    font-size: 38px;
    max-width: 420px;

    @media (max-width: 992px) {
        font-size: 34px;
    }

    @media (max-width: 768px) {
        max-width: 100%;
    }
}

.big-title {
    font-size: 72px;

    @media (max-width: 768px) {
        font-size: 44px;
    }

    @media (max-width: 576px) {
        font-size: 30px;
    }
}


.close-button {
    width: 44px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--green-400);
    background-color: inherit;

    &:before,
    &:after {
        content: '';
        width: 30px;
        height: 5px;
        border-radius: 2px;
        background-color: var(--green-400);
        position: absolute;
        z-index: 5;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}

.video {
    max-width: 878px;
    width: 100%;
    height: 525px;
    border-radius: 20px;
    color: $l;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media (max-width: 992px) {
        max-width: 351px;
        height: 209px;
        padding: 0 15px;
    }

    &__desc {
        font-size: 40px;

        @media (max-width: 992px) {
            font-size: 18px;
        }
    }

    &__info {
        font-size: 20px;

        @media (max-width: 992px) {
            font-size: 14px;
        }
    }
}

.play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    outline: 1px solid $l;
    backdrop-filter: blur(10px);

    @media (max-width: 992px) {
        width: 80px;
        height: 80px;
    }

    &:before {
        content: '';
        margin-left: 12px;
        width: 30%;
        height: 30%;
        background-image: url('../images/icons/play.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @media (max-width: 992px) {
            margin-left: 6px;
        }
    }

    &--big {
        width: 203px;
        height: 203px;

        @media (max-width: 992px) {
            width: 80px;
            height: 80px;
        }
    }
}

.social {
    display: flex;
    gap: 20px;

    @media (max-width: 992px) {
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        max-width: 350px;
        width: 100%;
    }

    &__link {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
        border-radius: 17px;
        background-color: #C5C5A9;
        padding: 16px;
        color: $d;

        &--dark {
            color: $w;
            background-color: #292929;
        }

        .icon {
            flex-shrink: 0;
        }
    }

    &__link-title {
        font-size: 16px;
    }

    &__link-name {
        font-size: 25px;
    }
}
